.header {
    font-family: 'Poppins', sans-serif;
    background-color: #DBF9F0;
    padding: 10px 20px;
    display: flex;

    justify-content: center;
    align-items: center;
  
    height: 50px;
    width: min(90%, 700px); 
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%); 
    
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
    border-radius: 0 0 10px 10px;

    margin-bottom: 100px;
}
  
.logo {
    width: min(90%, 50px); 
    margin-right: 20px;
}
  
.header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap; /* quebra linha em telas pequenas */
}
  
.header nav li {
    margin-left: 20px;
}
  
.header nav a {
    color: #435e4b;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}
  
.hidden {
    transform: translate(-50%, -100%);
}
  
@media (max-width: 500px) {
    .header {
      height: auto;
      padding: 15px;
      flex-direction: column;
    }
  
    .logo {
      margin: 0 0 10px 0;
    }
  
    .header nav ul {
      justify-content: center;
    }
  
    .header nav li {
      margin: 5px;
    }
}
  